@model GourmetGo.Models.Pedido

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-light">Detalhes</h1>

<div class="text-white">
    <h4>Pedido de @Html.DisplayFor(model => model.Usuario.Nome)</h4>
    <hr />
    <dl class="row">
        <dt  class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Observações)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Observações)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereço)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereço)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a class="btn btn-secondary" asp-action="Index">Voltar ao ínicio</a>
</div>
