@model GourmetGo.Models.Pedido

@{
    ViewData["Title"] = "Editar";
}

<div class="text-center mb-5">
    <img class="logo-gourmet" src="~/images/minor-logo.png" alt="logo">
</div>

<div class="container-sm d-flex flex-column container-principal mt-4">
    <h1 class="text-center text-light mt-4 mb-5">Alterar status</h1>
    <form asp-action="Edit" class="text-light">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group d-flex flex-row fs-5">
            <label asp-for="UsuarioId" class="control-label">Usuário:</label>
            <select class="d-none" asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
            <span asp-validation-for="UsuarioId" class="text-danger"></span>
            <div class="ms-2">@Model.Usuario.Nome</div>
        </div>
        <div class="form-group d-flex flex-row fs-5">
            <label>Produtos:</label>
            <table class="table d-none ">
                <thead>
                    <tr>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.PedidoProdutos.Count; i++)
                    {
                        <tr>
                            <td>
                                <select name="ProdutoIds" asp-for="@Model.PedidoProdutos.ToList()[i].ProdutoId"
                                    class="form-control" asp-items="ViewBag.ProdutoId"></select>
                                <span asp-validation-for="PedidoProdutos" class="text-danger"></span>
                            </td>
                            <td>
                                <input name="Quantidades" asp-for="@Model.PedidoProdutos.ToList()[i].Quantidade"
                                    class="form-control" />
                                <span asp-validation-for="PedidoProdutos" class="text-danger"></span>
                            </td>
                            <td>
                                <a href="#" class="btn btn-danger" onclick="removeProduct(this)">Remover</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <a href="#" class="btn btn-primary d-none" onclick="addProduct()">Adicionar Produto</a>
            @foreach (var item in @Model.PedidoProdutos)
            {

                <div class="ms-2">@item.Produto.Nome, </div>
            }
        </div>
        <div class="form-group d-flex flex-row fs-5">
            <label asp-for="Observações" class="control-label">Observações:</label>
            <input class="d-none" asp-for="Observações" class="form-control" />
            <span asp-validation-for="Observações" class="text-danger"></span>
            <div class="ms-2">@Model.Observações</div>
        </div>
        <div class="form-group d-flex flex-row fs-5">
            <label asp-for="Tipo" class="control-label">Recebimento:</label>
            <select class="d-none" asp-for="Tipo" class="form-control"
                asp-items="Html.GetEnumSelectList<TipoDeEntrega>()"></select>
            <span asp-validation-for="Tipo" class="text-danger"></span>
            <div class="ms-2">@Model.Tipo</div>
        </div>
        <div class="form-group d-flex flex-row fs-5 d-none">
            <label asp-for="Endereço" class="control-label"></label>
            <input asp-for="Endereço" class="form-control" />
            <span asp-validation-for="Endereço" class="text-danger"></span>
        </div>
        <div class="form-group d-flex flex-row fs-5 d-none">
            <label asp-for="Pagamento" class="control-label"></label>
            <select asp-for="Pagamento" class="form-control"
                asp-items="Html.GetEnumSelectList<FormaDePagamento>()"></select>
            <span asp-validation-for="Pagamento" class="text-danger"></span>
        </div>
        <div class="form-group d-flex flex-column fs-5">
            <label asp-for="Status" class="control-label"></label>
            <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<StatusDoPedido>()"></select>
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>



        <div class="form-group mt-3 text-center">
            <input type="submit" value="Alterar" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </div>
    </form>

</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script type="text/javascript">
        function addProduct() {
            var row = `<tr>
                                                                                                                                                                                                                                                                                                                                                                                                        <td>
                                                                                                                                                                                                                                                                                                                                                                                                            <select name="PedidoProdutos[${index}].ProdutoId" class="form-control" asp-items="ViewBag.ProdutoId"></select>
                                                                                                                                                                                                                                                                                                                                                                                                        </td>
                                                                                                                                                                                                                                                                                                                                                                                                        <td>
                                                                                                                                                                                                                                                                                                                                                                                                            <input name="PedidoProdutos[${index}].Quantidade" class="form-control" />
                                                                                                                                                                                                                                                                                                                                                                                                        </td>
                                                                                                                                                                                                                                                                                                                                                                                                        <td>
                                                                                                                                                                                                                                                                                                                                                                                                            <a href="#" class="btn btn-danger" onclick="removeProduct(this)">Remover</a>
                                                                                                                                                                                                                                                                                                                                                                                                        </td>
                                                                                                                                                                                                                                                                                                                                                                                                    </tr>`;
            $('table tbody').append(row);
            index++;
        }

        function removeProduct(element) {
            $(element).closest('tr').remove();
        }

        var index = @Model.PedidoProdutos.Count;
    </script>
}



<style>

    
    .logo-gourmet {
        width: auto;
        height: 240px;
    }

    .container-principal {
        background-color: #0C847B;
        border-radius: 15px;
        border: 4px solid rgba(0, 0, 0, 0.2);
        max-width: 500px;
    }

    .form-parts {
        font-family: arial;
    }

    .buttons {
        background-color: #D9D9D9;
        font-weight: 600;
    }

    .buttons-input {
        border: 3px solid #0057FF;
        color: black;
        border-radius: 10px;
        padding: 4px 80px;
    }

    .buttons-a {
        font-size: 20px;
        color: #000;
        border: 3px solid rgba(0, 0, 0, 0.4);
        border-radius: 10px;
    }
</style>

@* @section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
*@
