@model GourmetGo.Models.Pedido

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-light">Excluir</h1>

<h3 class="text-light">Tem certeza que quer excluir esse pedido?</h3>
<div class="text-light">
    <h5>Informações do pedido:</h5>
    <hr />
    <dl class="row text-light">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Produto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observações)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observações)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereço)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereço)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pagamento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    </form>
</div>
