@model IEnumerable<GourmetGo.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Lista de Pedidos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Fazer novo pedido</a>
</p>
<table class="table text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Usuario.Nome)
            </th>
            <th>
                Produtos
            </th>
            <th>
                Total
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observações)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereço)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>
                <td>
                    <ul>
                        @foreach (var produto in item.PedidoProdutos)
                        {
                            <li>
                                @produto.Produto.Nome (@produto.Quantidade x @produto.Produto.Preco.ToString("C"))
                            </li>
                        }
                    </ul>
                </td>
                <td>
                    @item.PedidoProdutos.Sum(pp => pp.Quantidade * pp.Produto.Preco).ToString("C")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observações)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereço)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Ver detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
