@model IEnumerable<GourmetGo.Models.Produto>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de produtos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar produto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>Imagem</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                <!-- Exiba a imagem se estiver presente -->
              @if (item.Imagem != null && item.Imagem.Length > 0)
{
    <img src="data:image;base64,@Convert.ToBase64String(item.Imagem)" alt="Imagem do Produto" class="img-fluid" style="max-width: 100px; max-height: 100px;" />
}
                else
                {
                    <span>Nenhuma imagem disponível</span>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Ver detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
